<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="layout/plantilla :: head">
    <title>Login</title>
    <meta charset="UTF-8"/>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>

    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <!--Se puede agregar algunos botones  -->
            </div>
        </div>

    </section>

    <form method="POST" th:action="@{/login}" >
        <label for="username"> Username:</label>
        <input type="text" name="username" id="username"/>
        <br/>
        <label for="password"> Password:</label>
        <input type="password" name="password" id="password"/>
        <br/>
        <input type="submit" value="Login"/>
    </form>

</body>
</html>
