<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security"
      lang="es">

<head th:replace="layout/plantilla :: head">
    <meta charset="UTF-8"/>
    <title>Datos de la Persona</title>
</head>
<body>

<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/editarCliente :: editarCliente"></section>
<footer th:replace="layout/plantilla :: footer"></footer>


</body>
</html>